<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3> Datos del Autor</h3>
    <p>Jose Antonio Gimenez</p>
    <IMG SRC=images/escudo.png>
  </body>
</html>

